[Unit]
Description=Vigibot Client Service (RDK X5)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/usr/local/vigiclient
Environment=VIGI_USE_FFMPEG=1
Environment=LD_LIBRARY_PATH=/usr/hobot/lib:/usr/lib
ExecStart=/usr/bin/node /usr/local/vigiclient/clientrobotpi.js
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
