[Unit]
Description=Vigibot Client Service (RDK X5)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/usr/local/vigiclient
ExecStart=/usr/bin/node /usr/local/vigiclient/clientrobotpi.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
