{
  "NAME": "YOUR_ROBOT_NAME",
  "PASSWORD": "YOUR_ROBOT_PASSWORD",
  "CAMERAS": [
    {
      "TYPE": "",
      "SOURCE": 0,
      "WIDTH": 640,
      "HEIGHT": 480,
      "FPS": 30,
      "BITRATE": 1500000
    },
    {
      "TYPE": "",
      "SOURCE": 1,
      "WIDTH": 640,
      "HEIGHT": 480,
      "FPS": 30,
      "BITRATE": 1500000
    },
    {
      "TYPE": "",
      "SOURCE": 2,
      "WIDTH": 640,
      "HEIGHT": 480,
      "FPS": 15,
      "BITRATE": 900000
    }
  ],
  "OUTPUTS": [
    {
      "NAME": "Front left wheel",
      "TYPE": "PwmPwm",
      "GPIOS": [22, 23],
      "INS": [-100, -15, 15, 100],
      "OUTS": [-100, 0, 0, 100]
    },
    {
      "NAME": "Front right wheel",
      "TYPE": "PwmPwm",
      "GPIOS": [24, 25],
      "INS": [-100, -15, 15, 100],
      "OUTS": [-100, 0, 0, 100]
    },
    {
      "NAME": "Rear left wheel",
      "TYPE": "PwmPwm",
      "GPIOS": [16, 17],
      "INS": [-100, -15, 15, 100],
      "OUTS": [-100, 0, 0, 100]
    },
    {
      "NAME": "Rear right wheel",
      "TYPE": "PwmPwm",
      "GPIOS": [26, 27],
      "INS": [-100, -15, 15, 100],
      "OUTS": [-100, 0, 0, 100]
    },
    {
      "NAME": "Turret pan",
      "TYPE": "Servos",
      "GPIOS": [5],
      "ADRESSE": -1,
      "MIN": 500,
      "MAX": 2500
    },
    {
      "NAME": "Turret tilt",
      "TYPE": "Servos",
      "GPIOS": [6],
      "ADRESSE": -1,
      "MIN": 500,
      "MAX": 2500
    },
    {
      "NAME": "Buzzer",
      "TYPE": "Pwms",
      "GPIOS": [4],
      "ADRESSE": -1
    }
  ]
}
